<h1>
  Edit <%= @trip.name %>
</h1>

<hr>

<form action="/update_trip/<%= @trip.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @trip.name %>">
  </div>


    <input type="hidden" id="manager_id" name="manager_id" class="form-control" value="<%= @trip.manager_id %>">


  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @trip.description %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update trip
  </button>
</form>

<hr>

<a href="/trips">
  Go back
</a>
