<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Trip #<%= @trip.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/trips" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/trips/<%= @trip.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit trip
        </a>
      </div>

      <div class="col">
        <a href="/delete_trip/<%= @trip.id %>" class="btn btn-block btn-outline-secondary">
          Delete trip
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @trip.name %>
      </dd>

      <dt>
        Manager
      </dt>
      <dd>
        <%= @trip.manager_id %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @trip.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@trip.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@trip.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

