<% if current_user.manager? %>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @trip.name %>
    </h1>
    

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @trip.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @trip.description %>
      </dd>
    </dl>
    
    <h4 class="pt-4">
      Legs
    </h4>
    <div><a href="/legs/new">Add a new leg</a><div>

      <% Leg.where(trip_id: @trip.id).each do |leg| %>
      <ul>
      <div class="card" style="width: 18rem;">
        <div class="card-header">
            <%= Leg.find(leg.id).name %>
            <a href="/hotels/new">Add a new hotel</a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
              <% Hotel.where(leg_id: leg.id).each do |hotel| %>
              <%= Hotel.find(hotel.id).name %></a>
              <% end %>
          </li>
        </ul>
      </div>
      </ul>
      <% end %>

    
    <div class="row mb-3">
      <div class="col">
        <a href="/trips" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/trips/<%= @trip.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit trip
        </a>
      </div>

      <div class="col">
        <a href="/delete_trip/<%= @trip.id %>" class="btn btn-block btn-outline-secondary">
          Delete trip
        </a>
      </div>
    </div>

    
    
  </div>
</div>

<% else %>

<div class="row">
  <div class="col">
    <h1>
    Choose your hotels for <%= @trip.name %>
    </h1>

    <% Leg.where(trip_id: @trip.id).each do |leg| %> 
      <div class="card">
        
        <div class="card-header">
          <h5 class="card-title"><%= Leg.find(leg.id).name %></h5>
        </div>
        
        <div class="card-body">
          
          <h5 class="card-title">Pending Roomate Requests</h5>
          
          <p class="card-text">
            None
          </p>
          
          <form action="/create_roomate_request" method="post">
            <div class="form-group">
            
              <input type="hidden" name="requestor_id" value=<%= current_user.id %>>
              <input type="hidden" name="approved" value="0">
              
              <label for="hotel_id">
              Hotel
              </label>
              
            
              <%= select_tag("hotel_id", options_from_collection_for_select(Hotel.where(leg_id: leg.id).all, :id, :name), :class => "form-control") %>
              

              <label for="recipient_id">
              Roomate
              </label>

              <%= select_tag("recipient_id", options_from_collection_for_select(User.all, :id, :name), :class => "form-control") %>

              
            </div>
            <button class="btn btn-block btn-outline-secondary">
            Send Roomate Request
            </button>   
          </form>
        </div>
      </div>  
    <% end %>
  </div>
</div>

<% end %>

