<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All hotels
    </h1>

    <a href="/hotels/new" class="btn btn-block btn-outline-secondary">
      Add a new hotel
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          User
        </th>

        <th>
          Leg
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @hotels.each do |hotel| %>
      <tr>
        <td>
          <%= hotel.id %>
        </td>

        <td>
          <%= hotel.name %>
        </td>

        <td>
          <%= hotel.user_id %>
        </td>

        <td>
          <%= hotel.leg_id %>
        </td>

        <td>
          <%= time_ago_in_words(hotel.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(hotel.updated_at) %> ago
        </td>

        <td>
          <a href="/hotels/<%= hotel.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
