<h1>
  Edit roomate request #<%= @roomate_request.id %>
</h1>

<hr>

<form action="/update_roomate_request/<%= @roomate_request.id %>" method="post">

    <div class="form-group">
    <label for="requestor_id">
      Requestor
    </label>
    <%= select_tag("requestor_id", options_from_collection_for_select(User.all, :id, :name, @roomate_request.try(:requestor_id)), :class => "form-control") %>
    </div>

    <div class="form-group">
    <label for="recipient_id">
      Recipient
    </label>
    <%= select_tag("recipient_id", options_from_collection_for_select(User.all, :id, :name, @roomate_request.try(:recipient_id)), :class => "form-control") %>
    </div>

  <div class="form-check">
    <input type="hidden" value="0" name="approved">
    <input id="approved" class="form-check-input" name="approved" type="checkbox" value="1" <%= "checked" if @roomate_request.approved %>>
    <label for="approved" class="form-check-label">
      Approved
    </label>
  </div>

  <div class="form-group">
    <label for="hotel_id">
      Hotel
    </label>
    
    <%= select_tag("hotel_id", options_from_collection_for_select(Hotel.all, :id, :name, @roomate_request.try(:hotel_id)), :class => "form-control") %>
    </div>

  <button class="btn btn-block btn-outline-secondary">
    Update roomate request
  </button>
</form>

<hr>

<a href="/roomate_requests">
  Go back
</a>
